force-app/main/default/flows/case_thread_id_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>case_threadid_Update</name>
        <label>case threadid Update</label>
        <locationX>157</locationX>
        <locationY>321</locationY>
        <actionName>UpdateThreadTokenForCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>threadidupdate1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateThreadTokenForCase</nameSegment>
        <outputParameters>
            <assignToReference>Casethreadid</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>emailAlert_Case_Welcome_Email_case</name>
        <label>emailAlert-Case.Welcome_Email_case</label>
        <locationX>346</locationX>
        <locationY>538</locationY>
        <actionName>Case.Welcome_Email_case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Welcome_Email_case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>threadidupdate</name>
        <label>threadidupdate</label>
        <locationX>284</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>$Record.threadid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Casethreadid</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_the_case_if_from_web</name>
        <label>Check if the case if from web</label>
        <locationX>658</locationX>
        <locationY>400</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Welcome_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailAlert_Case_Welcome_Email_case</targetReference>
            </connector>
            <label>Welcome check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>case thread id Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>case thread id Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>threadidupdate1</name>
        <label>threadidupdate</label>
        <locationX>174</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Check_if_the_case_if_from_web</targetReference>
        </connector>
        <inputAssignments>
            <field>threadid__c</field>
            <value>
                <elementReference>Casethreadid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>511</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>case_threadid_Update</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Casethreadid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
