force-app/main/default/flows/ContactScreenInput.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>get_all_Details</name>
        <label>get all Details</label>
        <locationX>689</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.street</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ContactScreenInput {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactScreenInput</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Address</name>
        <label>Address</label>
        <locationX>490</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_all_Details</targetReference>
        </connector>
        <fields>
            <name>msg3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;Enter Address to track!!!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>address1</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Details</name>
        <label>Contact Details</label>
        <locationX>463</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;Enter contact Details to proceed further!!!!!!!!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>+91 999-999-9999</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>+91 999-999-9999</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>first_name_and_last_name</name>
        <label>first name and last name</label>
        <locationX>456</locationX>
        <locationY>173</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;Hi {!$User.LastName} {!$User.FirstName} enter Contact First Name and last name below !&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>first_name_and_last_name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>recordId</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
