force-app/main/default/flows/ContactPhoneUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddContactRecord</name>
        <label>AddContactRecord</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetRecordThatrequired</name>
        <label>GetRecordThatrequired</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateThroughContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ContactPhoneUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactPhoneUpdate</label>
    <loops>
        <name>IterateThroughContact</name>
        <label>IterateThroughContact</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetRecordThatrequired</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllrecordsAtOnce</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactRecords</name>
        <label>GetContactRecords</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllrecordsAtOnce</name>
        <label>UpdateAllrecordsAtOnce</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>ContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContactRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
