force-app/main/default/flows/Create_Contact_or_Opp_or_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>getting_record</name>
        <label>getting record</label>
        <locationX>174</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>ListofContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ScreenInput.ContactRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_condetion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getting_record_0</name>
        <label>getting record</label>
        <locationX>893</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>ListOfOppurtunites</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppScreenInput_0.OppRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_condetion_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getting_record_0_0</name>
        <label>getting record</label>
        <locationX>198</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>ListOfCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseSubFlow.CaseRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_condetion_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cases</name>
        <choiceText>Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_condetion</name>
        <label>Check for condetion</label>
        <locationX>279</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>CreateContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_Many_Records_do_you_want_to_Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInput</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_condetion_0</name>
        <label>Check for condetion</label>
        <locationX>795</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>CreateOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_Many_Records_do_you_want_to_Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppScreenInput_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_condetion_0_0</name>
        <label>Check for condetion</label>
        <locationX>501</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_Many_Records_do_you_want_to_Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseSubFlow</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_What_to_create</name>
        <label>Decide What to create</label>
        <locationX>494</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contactcreation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_want_to_create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_condetion</targetReference>
            </connector>
            <label>Contact_creation</label>
        </rules>
        <rules>
            <name>Oppurtunity_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_want_to_create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_condetion_0</targetReference>
            </connector>
            <label>Oppurtunity_Create</label>
        </rules>
        <rules>
            <name>Case_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_want_to_create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cases</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_condetion_0_0</targetReference>
            </connector>
            <label>Case_Create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Contact or Opp or Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact or Opp or Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>789</locationX>
        <locationY>679</locationY>
        <inputReference>ListOfCases</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>286</locationX>
        <locationY>459</locationY>
        <inputReference>ListofContacts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOpp</name>
        <label>CreateOpp</label>
        <locationX>757</locationX>
        <locationY>474</locationY>
        <inputReference>ListOfOppurtunites</inputReference>
    </recordCreates>
    <screens>
        <name>Pick_Your_choice</name>
        <label>Pick Your choice</label>
        <locationX>500</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decide_What_to_create</targetReference>
        </connector>
        <fields>
            <name>What_do_you_want_to_create</name>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Cases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What do you want to create ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_Many_Records_do_you_want_to_Create</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>How Many Records do you want to Create ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>374</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Pick_Your_choice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CaseSubFlow</name>
        <label>CaseSubFlow</label>
        <locationX>511</locationX>
        <locationY>872</locationY>
        <connector>
            <targetReference>getting_record_0_0</targetReference>
        </connector>
        <flowName>Case_Info</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OppScreenInput_0</name>
        <label>OppScreenInput</label>
        <locationX>1047</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>getting_record_0</targetReference>
        </connector>
        <flowName>Opportunity_From_screen_flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ScreenInput</name>
        <label>ScreenInput</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>getting_record</targetReference>
        </connector>
        <flowName>ContactScreenInput</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListOfCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListofContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ListOfOppurtunites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
