force-app/main/default/flows/delete_leads_with_no_mail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>test1</name>
        <label>test</label>
        <locationX>490</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>this_will_iterate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>this_will_iterate.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Not Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_case</targetReference>
            </connector>
            <label>test</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>delete leads with no mail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>delete leads with no mail</label>
    <loops>
        <name>this_will_iterate</name>
        <label>this will iterate</label>
        <locationX>253</locationX>
        <locationY>333</locationY>
        <collectionReference>all_the_leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>test1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_case</name>
        <label>create case</label>
        <locationX>627</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>this_will_iterate</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The below lead is not converted kindly take look at it and do the need full </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>this_will_iterate.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>all_the_leads</name>
        <label>all the leads</label>
        <locationX>176</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>this_will_iterate</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <stages>
        <name>lead_status</name>
        <isActive>false</isActive>
        <label>lead status</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>all_the_leads</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
