force-app/main/default/flows/Feed_Back_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>c1</name>
        <choiceText>{!Choice}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Ch0uice</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>choice2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>choicename</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>NewPickList</name>
        <choiceText>{!rating}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Number</name>
        <choiceText>{!sdg}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>abx</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feedback_Scale__c</picklistField>
        <picklistObject>Patient_feed_Back__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>axc</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feedback_Scale__c</picklistField>
        <picklistObject>Patient_feed_Back__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>feedback1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feedback_Scale__c</picklistField>
        <picklistObject>Patient_feed_Back__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistselection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feedback_Scale__c</picklistField>
        <picklistObject>Patient_feed_Back__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sdg</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feedback_Scale__c</picklistField>
        <picklistObject>Patient_feed_Back__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>xyz</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feedback_Scale__c</picklistField>
        <picklistObject>Patient_feed_Back__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Feed Back Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feed Back Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Feed_Back</name>
        <label>Feed Back</label>
        <locationX>575</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Feedback</targetReference>
        </connector>
        <fields>
            <name>Headder</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Welcome to The World of Apollo &lt;/strong&gt;&lt;img src=&quot;https://d5i0000013d7aeae-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/download/0685i000007w4vS?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;1.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback</name>
        <label>Feedback</label>
        <locationX>617</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Enter_your_feed_back_5_is_recommended</name>
            <choiceReferences>choicename</choiceReferences>
            <choiceReferences>choice2</choiceReferences>
            <choiceReferences>NewPickList</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Enter your feed back (5 is recommended)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Feedback</name>
        <label>User Feedback</label>
        <locationX>589</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Feedback</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Fill Your details &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>$User.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Feed_Back</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>test</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Headder}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
