force-app/main/default/flows/Opportunity_From_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AdditionToRecord</name>
        <label>AdditionToRecord</label>
        <locationX>552</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Discount_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discount_Percentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <dynamicChoiceSets>
        <name>OpportunityCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>stagepicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This will be helpful to select type of opportunity</description>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity From screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity From screen flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Opportunitydetails</name>
        <label>Opportunitydetails</label>
        <locationX>452</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AdditionToRecord</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;Hi &lt;strong&gt;{!$User.LastName}{!$User.FirstName}!&lt;/strong&gt; Enter Required details to create opportunities &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type1</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Currency</name>
            <choiceReferences>OpportunityCurrency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$System.OriginDateTime</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>stagepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Discount_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Discount Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opportunitydetails</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
